

body {
    background-image: url(https://cdn.wallpapersafari.com/74/6/fqM0zF.png);
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
  }

.navbar-nav {
    margin-left: 65em;
    background-color: #807070;
}



.page-header {
    padding: 10px;
    font-family:'David Libre', serif;
    color: #ffffff;
    font-size: 48px;
    width: 95%;
    height: 10%;
  }