.about-me img{
float: left;
margin: 1em;
}

.navbar-nav {
    margin-left: 65em;
    background-color: #807070;
}

.page-header1 {
    padding: 20px;
    font-family:'David Libre', serif;
    background-color: #807070;
    color: #ffffff;
    font-size: 48px;
    width: 95%;
    height: 10%;
  }

  body {
    background-image: url(https://cdn.wallpapersafari.com/74/6/fqM0zF.png);
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
  }

.about-me{
 background-color: #807070;
 width: 95%;
}

.page-header1{
    font-size: 48px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #d9dcd6;
}

.navbar-nav {
  margin-left: 65em;
  background-color: #807070;
}

.page-header2 {
  padding: 10px;
  font-family: 'David Libre', serif;
  background-color: #632d2d;
  color: #ffffff;
}


.sunflower, .babypic {
  float: left;
  width: 33%;
  margin: 2em;
}
.inthecar, .beach {
  float: right;
  width: 33%;
  margin: 2em;
}
.navbar-nav {
  margin-left: 65em;
  background-color: #807070;
}



.page-header3 {
  padding: 10px;
  font-family:'David Libre', serif;
  color: #ffffff;
  font-size: 48px;
  width: 95%;
  height: 10%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

@media screen and (max-width: 768px){
  body{
    background-color: #252222;
  }
  .wrapper {
    width: 100%;
    padding: 20px;
  }
  #navbarNavDropdown {
    width: 100%;
  }
  @media screen and (max-width: 320px){
    body{
      background-color: #252222;
    }
    .wrapper {
      width: 100px;
      margin: 20px;
    }
    #navbarNavDropdown {
      width: 100%;
    }
  @media screen and (max-width: 168px){
      body{
        background-color: #252222;
      }
      .wrapper {
        width: 100px;
        margin: 20px;
      }
    
  
  #navbarNavDropdown {
    width: 100%;
  }